
Body {
    font-family: "Agency FB";
    background-size: cover;
    background-color: lavender;
}
.header{
    padding: 20px;
}
.headline1 {
    color: black;
    text-align: center;
    font-family: "Agency FB";
    font-size: 36px;
    border-bottom: 2px solid black;
}

.headline2 {
    color: black;
    text-align: center;
    font-family: "Agency FB";
    font-size: 28px;
    border-bottom: 2px solid black;
}

th {
    padding: 10px;
    background-color: white;
    border-collapse: collapse;
}
tr {
    background-color: #f9f9f9;
}

td {
    padding: 8px;
    border-collapse: collapse;
    white-space: nowrap;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 6px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
}
.action-button {
    display: inline-block;
    border: 1px solid;
    border-radius: 3px;
    overflow: hidden;
}

button:hover {
    background-color: #45a049;
}

