Body {
    font-family: "Agency FB";
    background-size: cover;
}

h1 {
    color: black;
    text-align: center;
    font-family: "Agency FB";
    font-size: 36px;
    border-bottom: 2px solid black;
}

h2 {
    color: black;
    font-family: "Agency FB";
    font-size: 20px;
    text-align: center;
}

footer {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: left;
    position: absolute;
    bottom: 10px;
}

a {
    color: black;
    font-size: 25px;
    font-family: "Agency FB";
}

p {
    font-size: 20px;
    line-height: 0.5;
}

nav {
    background-color: white;
    position: absolute;top: 80px;
    border-style: solid;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

sideav a:hover {
    text-decoration: underline;
    background-color: white;
}

