Body {
    font-family: "Agency FB";
    background-size: cover;
}
h1 {
    color: black;
    text-align: center;
    font-family: "Agency FB";
    font-size: 36px;
    border-bottom: 2px solid black;
}

a {
    color: blue;
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 1.5;
}


sideav a:hover {
    text-decoration: underline;
}