
Body {
    font-family: "Agency FB";
    background-size: cover;
    background-color: lavender;
}

th {
    padding: 10px;
    background-color: white;
    border-collapse: collapse;
}
tr {
    background-color: #f9f9f9;
}

td {
    padding: 8px;
    border-collapse: collapse;
}