<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tilføj Turistattraktion</title>
    <link th:href="@{/addAttraction.css}" rel="stylesheet">
</head>
<body>
<h1>Tilføj en ny turistattraktion</h1>
<br>
<form action="#" method="post" th:action="@{/attractions/save}" th:object="${touristAttraction}">
    <label for="name">Navn:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required>

    <label for="description">Beskrivelse:</label>
    <textarea id="description" name="description" th:field="*{description}" required></textarea>



    <label for="city">By:</label>
    <select id="city" name="city" th:field="*{city}" required>
        <option value="Copenhagen">Copenhagen</option>
    </select>

    <label>Tags:</label>
    <div>
        <input type="checkbox" id="tag1" name="tags" value="tag1" th:checked="${touristAttraction.tags.contains('tag1')}">
        <label for="tag1">Børnevenlig</label>

        <input type="checkbox" id="tag2" name="tags" value="tag2" th:checked="${touristAttraction.tags.contains('tag2')}">
        <label for="tag2">Gratis</label>

        <input type="checkbox" id="tag3" name="tags" value="tag3" th:checked="${touristAttraction.tags.contains('tag3')}">
        <label for="tag3">Kunst</label>

        <input type="checkbox" id="tag4" name="tags" value="tag4" th:checked="${touristAttraction.tags.contains('tag4')}">
        <label for="tag4">Museum</label>

        <input type="checkbox" id="tag5" name="tags" value="tag5" th:checked="${touristAttraction.tags.contains('tag5')}">
        <label for="tag5">Natur</label>

    </div>
    <div>
        <a href="/attractions"><button>OK</button></a>
        <button type="submit">Fortryd</button>

    </div>
</form>
</body>
</html>
