<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Attraktion Tags</title>
</head>
<body>
<header>
  <div class="header">
    <div class="headlines">
      <h1 class="headline1" th:text="'Tags for ' + ${name}"></h1>
      <table>
        <tr th:each="tag : ${tags}">
        <td th:text="${tag}"></td>
        </tr>
      </table>
      <br>
      <a href="/attractions"><button>Tilbage til oversigten</button></a>
    </div>
  </div>
</header>
</body>
</html>
